@charset "UTF-8";
/* ------------------   Prédéfini --------------- */
/* Couleurs principales site */
/* Couleurs principales menu */
/* note */
/* chic */
/* delice */
/* palette */
#prochainement p, footer, header {
  background-color: #579c87;
  color: #fdcb46;
}

/* Couleurs cartes */
/* Font cartes */
/* --------------- HEADER / FOOTER --------------- */
header {
  display: flex;
  height: 60px;
}
header .main-title, header p {
  margin: auto;
}
header .main-title a, header p a {
  color: #fdcb46;
}
header p {
  font-size: xx-large;
}

footer {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
footer h3 {
  margin: auto;
  text-align: center;
}
footer h3 a {
  color: #fdcb46;
}

@media all and (max-width: 300px) {
  footer {
    flex-direction: column;
    height: 70px;
  }
  footer h3 {
    margin: 5px auto;
  }

  main {
    margin-bottom: 100px !important;
  }
}
/* -----------------    GENERAL   --------------- */
* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Cantata One", serif;
}
body a {
  text-decoration: none;
}
body h1 {
  margin: 40px 0 15px 0px;
  text-align: center;
}
body h2, body h3 {
  font-weight: normal;
}

/* ------------------- Dégradés -------------------- */
/* ---------------- Couleurs ------------------ */
/* --------------- -Squelette ----------------- */
/* ------------------- ANIMATION SOULIGNEMENT PARTIE MENU ---------------- */
/* ----------------- RESTAURANTS ---------------- */
main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 900px;
}
.container .carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 30px auto;
  /* OMBRES */
  -webkit-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  -moz-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
}
.container .carte h2 {
  margin: 30px;
}
.container .carte a h2 {
  font-size: 40px;
}
.container .carte a p {
  font-size: 20px;
}

/* ----------------- PROCHAINEMENT -------------- */
#prochainement {
  display: flex;
}
#prochainement p {
  width: 120px;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
}

@media all and (max-width: 500px) {
  .container .carte {
    width: 300px;
  }
}
/* ------------------- Dégradés -------------------- */
/* ---------------- Couleurs ------------------ */
/* --------------- -Squelette ----------------- */
/* ------------------- ANIMATION SOULIGNEMENT PARTIE MENU ---------------- */
/* ---------------- PERSONNALISATION -----------------*/
.note {
  background-color: #FAD7D3;
}
.note h2 {
  background: -webkit-linear-gradient(left, #2E0E13, #2E0E13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note p {
  color: #2E0E13;
}
.note h2, .note .title h3 {
  font-family: "Devonshire", cursive;
}
.note .trait {
  background-color: #2E0E13;
}
.note i {
  background: -webkit-linear-gradient(left, #E93F4F, #F07055);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic {
  background-color: #FFF2FE;
}
.chic h2 {
  background: -webkit-linear-gradient(left, #FF9538, #7951DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic p {
  color: #FF9538;
}
.chic h2, .chic .title h3 {
  font-family: "Croissant One", cursive;
}
.chic .appetit div h3, .chic .appetit div p, .chic .appetit div span {
  color: #FF9538;
}
.chic .appetit .trait {
  background-color: #FF9538;
}
.chic .papilles div h3, .chic .papilles div p, .chic .papilles div span {
  color: #935087;
}
.chic .papilles .trait {
  background-color: #935087;
}
.chic .sucrees div h3, .chic .sucrees div p, .chic .sucrees div span {
  color: #7951DF;
}
.chic .sucrees .trait {
  background-color: #7951DF;
}

.delice {
  background-color: #F7F7F7;
  /*  COULEURS TRAIT */
}
.delice h2 {
  background: -webkit-linear-gradient(left, #0D00FF, #1FE9F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delice p {
  color: #0D00FF;
}
.delice h2, .delice .title h3 {
  font-family: "Alex Brush", cursive;
}
.delice .title {
  font-size: 50px;
}
.delice .trait-1 .trait {
  background-color: #0D00FF;
}
.delice .trait-2 .trait {
  background-color: #0C56F0;
}
.delice .trait-3 .trait {
  background-color: #1FE9F7;
}

.palette {
  background-color: #fff;
}
.palette h2 {
  background: -webkit-linear-gradient(left, #30A700, #BCFFA0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette p {
  color: #30A700;
}
.palette h2, .palette .title h3 {
  font-family: "Kaushan Script", cursive;
}
.palette .title {
  font-size: 50px;
}
.palette .degrade-1 {
  background: -webkit-linear-gradient(left, #30A700, #BCFFA0);
}
.palette .degrade-2 {
  background: -webkit-linear-gradient(left, #BCFFA0, #30A700);
}

.delice section div h3, .delice section div p, .delice section div span, .palette section div h3, .palette section div p, .palette section div span {
  color: #000;
}

@media all and (max-width: 400px) {
  .delice .trait-1 h3 {
    color: #0D00FF;
  }
  .delice .trait-2 h3 {
    color: #0C56F0;
  }
  .delice .trait-3 h3 {
    color: #1FE9F7;
  }

  .palette section div:first-child h3 {
    color: #30A700;
  }
}
/* ------------------   Prédéfini --------------- */
/* Couleurs principales site */
/* Couleurs principales menu */
/* note */
/* chic */
/* delice */
/* palette */
header, footer, #prochainement p {
  background-color: #579c87;
  color: #fdcb46;
}

/* Couleurs cartes */
/* Font cartes */
.main {
  display: flex;
}

.menu {
  -webkit-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  -moz-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  margin: 0px auto 50px auto;
  padding: 30px;
}
.menu .title {
  margin: 30px auto;
  text-align: center;
}
.menu section {
  display: flex;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
}
.menu section > div {
  margin: 20px 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu section > div .trait {
  display: flex;
  height: 4px;
  flex-grow: 3;
}
.menu section > div > h3 {
  flex-grow: 2;
  text-align: center;
}
.menu section > div p {
  flex: 10;
}
.menu section > div .prix {
  flex: 1;
}

@media all and (max-width: 400px) {
  .menu section div:first-child {
    font-size: large;
  }
  .menu section div {
    flex-direction: column;
    text-align: center;
  }
  .menu section div p {
    margin-bottom: 10px;
  }
}
/* ------------------- Dégradés -------------------- */
/* ---------------- Couleurs ------------------ */
/* --------------- -Squelette ----------------- */
/* ------------------- ANIMATION SOULIGNEMENT PARTIE MENU ---------------- */
/* ZOOM MENU ACCUEIL */
.carte a {
  transition: all 400ms;
}
.carte a:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

/* EFFET WIGGLE FOOTER */
footer h3 {
  transition: all 400ms;
}
footer h3:hover {
  animation: shake 0.82s;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
/* ------------------- ANIMATION SOULIGNEMENT PARTIE MENU ---------------- */
.note section div h3 {
  background: linear-gradient(to top, #2E0E13 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.note section div h3:hover {
  background-size: 100% 100%;
}

.chic .appetit h3 {
  background: linear-gradient(to top, #FF9538 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.chic .appetit h3:hover {
  background-size: 100% 100%;
}
.chic .papilles h3 {
  background: linear-gradient(to top, #935087 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.chic .papilles h3:hover {
  background-size: 100% 100%;
}
.chic .sucrees h3 {
  background: linear-gradient(to top, #7951DF 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.chic .sucrees h3:hover {
  background-size: 100% 100%;
}

.delice .trait-1 h3 {
  background: linear-gradient(to top, #0D00FF 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.delice .trait-1 h3:hover {
  background-size: 100% 100%;
}
.delice .trait-2 h3 {
  background: linear-gradient(to top, #0C56F0 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.delice .trait-2 h3:hover {
  background-size: 100% 100%;
}
.delice .trait-3 h3 {
  background: linear-gradient(to top, #1FE9F7 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.delice .trait-3 h3:hover {
  background-size: 100% 100%;
}

.palette section h3 {
  background: linear-gradient(to top, #30A700 5%, transparent 5%) no-repeat;
  background-size: 0 100%;
  transition: background-size 800ms;
}
.palette section h3:hover {
  background-size: 100% 100%;
}

/* ------------- POINT DE SUSPENSION ANIME */
.dots {
  animation: dots 2s infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

/*# sourceMappingURL=style.css.map */
