@charset "UTF-8";
/* ------------------   Prédéfini --------------- */
/* Couleurs principales site */
/* Couleurs principales menu */
/* note */
/* chic */
/* delice */
/* palette */
#prochainement p, footer, header {
  background-color: #579c87;
  color: #fdcb46;
}

/* Couleurs cartes */
/* Font cartes */
/* --------------- HEADER / FOOTER --------------- */
header {
  display: flex;
  height: 60px;
}
header h1 {
  margin: auto;
}

footer {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
footer h3 {
  margin: auto;
}
footer h3 a {
  color: #fdcb46;
}

/* -----------------    GENERAL   --------------- */
* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Cantata One", serif;
}
body a {
  text-decoration: none;
}
body h2, body h3 {
  font-weight: normal;
}

/* ------------------- Dégradés -------------------- */
/* ---------------- Couleurs ------------------ */
/* --------------- -Squelette ----------------- */
/* ----------------- RESTAURANTS ---------------- */
main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 900px;
}
.container .carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 30px auto;
  /* OMBRES */
  -webkit-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  -moz-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
}
.container .carte h2 {
  margin: 30px;
}
.container .carte a h2 {
  font-size: 40px;
}
.container .carte a p {
  font-size: 20px;
}

/* ----------------- PROCHAINEMENT -------------- */
#prochainement {
  display: flex;
}
#prochainement p {
  width: 120px;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
}

/* ------------------- Dégradés -------------------- */
/* ---------------- Couleurs ------------------ */
/* --------------- -Squelette ----------------- */
/* ---------------- PERSONNALISATION -----------------*/
.note {
  background-color: #FAD7D3;
}
.note h2 {
  background: -webkit-linear-gradient(left, #2E0E13, #2E0E13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note p {
  color: #2E0E13;
}
.note h2, .note .title h3 {
  font-family: "Devonshire", cursive;
}
.note .trait {
  background-color: #2E0E13;
}
.note i {
  background: -webkit-linear-gradient(left, #E93F4F, #F07055);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic {
  background-color: #FFF2FE;
}
.chic h2 {
  background: -webkit-linear-gradient(left, #FF9538, #7951DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic p {
  color: #FF9538;
}
.chic h2, .chic .title h3 {
  font-family: "Croissant One", cursive;
}
.chic .appetit div h3, .chic .appetit div p, .chic .appetit div span {
  color: #FF9538;
}
.chic .appetit .trait {
  background-color: #FF9538;
}
.chic .papilles div h3, .chic .papilles div p, .chic .papilles div span {
  color: #935087;
}
.chic .papilles .trait {
  background-color: #935087;
}
.chic .sucrees div h3, .chic .sucrees div p, .chic .sucrees div span {
  color: #7951DF;
}
.chic .sucrees .trait {
  background-color: #7951DF;
}

.delice {
  background-color: #F7F7F7;
  /*  COULEURS TRAIT */
}
.delice h2 {
  background: -webkit-linear-gradient(left, #0D00FF, #1FE9F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delice p {
  color: #0D00FF;
}
.delice h2, .delice .title h3 {
  font-family: "Alex Brush", cursive;
}
.delice .title {
  font-size: 50px;
}
.delice .trait-1 .trait {
  background-color: #0D00FF;
}
.delice .trait-2 .trait {
  background-color: #0D00FF;
}
.delice .trait-3 .trait {
  background-color: #1FE9F7;
}

.palette {
  background-color: #fff;
}
.palette h2 {
  background: -webkit-linear-gradient(left, #30A700, #BCFFA0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette p {
  color: #30A700;
}
.palette h2, .palette .title h3 {
  font-family: "Kaushan Script", cursive;
}
.palette .title {
  font-size: 50px;
}
.palette .degrade-1 {
  background: -webkit-linear-gradient(left, #30A700, #BCFFA0);
}
.palette .degrade-2 {
  background: -webkit-linear-gradient(left, #BCFFA0, #30A700);
}

.delice section div h3, .delice section div p, .delice section div span, .palette section div h3, .palette section div p, .palette section div span {
  color: #000;
}

/* ------------------   Prédéfini --------------- */
/* Couleurs principales site */
/* Couleurs principales menu */
/* note */
/* chic */
/* delice */
/* palette */
header, footer, #prochainement p {
  background-color: #579c87;
  color: #fdcb46;
}

/* Couleurs cartes */
/* Font cartes */
.main {
  display: flex;
}

.menu {
  -webkit-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  -moz-box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  box-shadow: 1px 6px 30px 0px rgba(117, 116, 117, 0.57);
  margin: 50px auto;
  padding: 30px;
}
.menu .title {
  margin: 30px auto;
  text-align: center;
}
.menu section {
  display: flex;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
}
.menu section > div {
  margin: 20px 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu section > div .trait {
  display: flex;
  height: 4px;
  flex-grow: 3;
}
.menu section > div > h3 {
  flex-grow: 2;
  text-align: center;
}
.menu section > div p {
  flex: 10;
}
.menu section > div .prix {
  flex: 1;
}

/* ZOOM MENU ACCUEIL */
.carte a {
  transition: all 400ms;
}
.carte a:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

/* EFFET WIGGLE FOOTER */
footer h3 {
  transition: all 400ms;
}
footer h3:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
